<div class="container">
	<h2 class="form-header-title">User info</h2>
	<%= form_for(@user) do |f| %>
		<% if @user.errors.any? %>
			<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		<% end %>
	<% end %>

	<div class="form-body">
		<%= form_for(@user) do |f| %>
			<p><strong>Name</strong>
		        <%= f.text_field :name, autofocus: true, class: "name" %>
		    </p>
			<p><strong>Image</strong></p><br>
			<label class="control-label sr-only" for="inputEmail"></label>
		    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user_image" %>

			<p><strong>Introduction</strong>
				<%= f.text_area :introduction, autofocus: true, class: "introduction" %>
			</p>

		    <%= f.submit "Update User", class: "" %>
		<% end %>
	</div>
</div>