<div class="profile-container">
	<h2>User info</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", class: "#" %>
    <p class="profile-name"><strong>name</strong><%= @user.name %></p>
    <p class="introduction"><strong>introduction</strong></p>

        <% if @user.id == current_user.id %>
        <p><%= link_to "編集", edit_user_path(@user), class: "edit_user_#{@user.id}" %></p>
    <% end %>



<%#ユーザの投稿一覧%>
<h1>Books</h1>
<table>
	<tr>
		<th><%#プロフ画%></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<td>
				<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
			</td>
			<td>
				<%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %>
			</td>

			<td>
				<%= book.body %>
			</td>
		</tr>
	<% end %>
</table>
