<h2>New Book</h2>
	<div class="row">
	<%= form_for(book) do |f| %>
		<h4>Title</h4><br>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
	</div>
	<div class="row">
		<h4>Opinion</h4><br>
			<%= f.text_area :body, class: "col-xs-12 book_body" %><br>
	</div>
	<br>
	<div class ="row">
			<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
	</div>
	<% end %>

<!-- いんすたふか -->
<%# <%= render 'books/list', book: @book %>